* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  /* background-color: #113399; */
  height: 100vh;
}

.cool {
  position: absolute;
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  /* ff 3.6+ */
  background: -moz-linear-gradient(
    181deg,
    rgba(39, 37, 85, 1) 0%,
    rgba(38, 2, 2, 1) 100%
  );

  /* safari 5.1+,chrome 10+ */
  background: -webkit-linear-gradient(
    181deg,
    rgba(39, 37, 85, 1) 0%,
    rgba(38, 2, 2, 1) 100%
  );

  /* opera 11.10+ */
  background: -o-linear-gradient(
    181deg,
    rgba(39, 37, 85, 1) 0%,
    rgba(38, 2, 2, 1) 100%
  );

  /* ie 6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#260202', endColorstr='#272555', GradientType=1 );

  /* ie 10+ */
  background: -ms-linear-gradient(
    181deg,
    rgba(39, 37, 85, 1) 0%,
    rgba(38, 2, 2, 1) 100%
  );

  /* global 94%+ browsers support */
  background: linear-gradient(
    181deg,
    rgba(39, 37, 85, 1) 0%,
    rgba(38, 2, 2, 1) 100%
  );
}

.app-wrapper {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.player {
  background: linear-gradient(
    -45deg,
    #0e5e61e7,
    #1d1b77d5,
    #401472d8,
    #470f30dc
  );
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  padding: 100px 50px;
  width: 450px;
  max-width: 100%;
  border-radius: 16px;
  box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.11);
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.song-img {
  position: relative;
  display: block;
  margin: 0 auto;
  /* background-color: blue; */
  width: 200px;

  border-radius: 50%;
  box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.3);
  max-width: 100%;
  margin-bottom: 50px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("./assets/album-photos/song-1.jpeg");
}
.song-img:after {
  content: "";
  padding-top: 100%;
  display: block;
}

.song-img::before {
  content: "";
  display: block;
  position: absolute;
  top: -20px;
  left: -20px;
  right: -20px;
  bottom: -20px;
  border: 2px solid #eee;
  border-radius: 50%;
}

.song-details {
  text-align: center;
  margin-bottom: 30px;
}
.song-details h2 {
  font-size: 24px;
  font-weight: 600;
  color: rgb(255, 255, 255);
}

.song-details h3 {
  margin-top: 5px;
  font-size: 16px;
  font-weight: 500;
  color: rgb(195, 195, 195);
}
.player-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.player-controls .play-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 75px;
  height: 75px;
  border-radius: 50%;
  background: linear-gradient(
    -45deg,
    #18969be7,
    #2a28add5,
    #621fafd8,
    #901f61dc
  );
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  color: white;
  margin: 0px 30px;

  border: none;
  outline: none;
  appearance: none;
  cursor: pointer;

  background: linear-gradient(
    -45deg,
    #127c80e7,
    #2725a8d5,
    #5e1ea7d8,
    #8b1d5ddc
  );
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;

  transition: 0.4s;
}
.player-controls .play-btn:hover {
  box-shadow: 0px 8px 16px rgba(34, 136, 177, 0.8);
}

.player-controls .skip-btn {
  background: none;
  border: none;
  outline: none;
  appearance: none;

  cursor: pointer;

  color: rgb(231, 231, 231);
  transition: 0.4s;
}
.player-controls .skip-btn:hover {
  color: #888;
}

.progress-container {
  background: rgba(255, 255, 255, 0.527);
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
  height: 5px;
  width: 100%;
  margin-bottom: 20px;
}

.progress {
  /* ff 3.6+ */
  /* ff 3.6+ */
  background: -moz-linear-gradient(
    90deg,
    rgb(81, 177, 175) 0%,
    rgba(23, 157, 188, 1) 100%
  );

  /* safari 5.1+,chrome 10+ */
  background: -webkit-linear-gradient(
    90deg,
    rgba(50, 105, 104, 1) 0%,
    rgb(30, 185, 219) 100%
  );

  /* opera 11.10+ */
  background: -o-linear-gradient(
    90deg,
    rgba(50, 105, 104, 1) 0%,
    rgba(23, 157, 188, 1) 100%
  );

  /* ie 6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#179DBC', endColorstr='#326968', GradientType=0 );

  /* ie 10+ */
  background: -ms-linear-gradient(
    90deg,
    rgb(82, 172, 170) 0%,
    rgb(40, 215, 255) 100%
  );

  /* global 94%+ browsers support */
  background: linear-gradient(
    90deg,
    rgb(100, 212, 211) 0%,
    rgb(11, 189, 230) 100%
  );
  border-radius: 5px;
  height: 100%;
  width: 0%;
  transition: width 0.1s linear;
}

.next-up p {
  color: rgb(209, 209, 209);
  text-align: center;
  font-weight: 500;
  font-size: 16px;
}

.next-up p span {
  font-weight: 400;
  font-style: italic;
}

@media (max-width: 414px) {
  .player {
    min-height: 100vh;
    border-radius: 0px;
    padding: 75px 30px;
  }
}
