* {
  margin: 0;
  padding: 0;
}

html {
  width: 100vw;
  height: 100vh;
}

body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: top;
  background-image: url(../assets/album-photos/login2.png);
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica;
  letter-spacing: 0.02em;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blurred-box {
  position: relative;
  width: 450px;
  height: 650px;
  /* top: calc(50% - 175px);
  left: calc(50% - 125px); */
  background: inherit;
  border-radius: 2px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 5%;
}

.blurred-box:after {
  content: "";
  width: 600px;
  height: 600px;
  background: inherit;
  position: absolute;
  left: -25px;

  right: 0;
  top: -25px;

  bottom: 0;
  box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.05);
  filter: blur(20px);
  justify-content: center;
  align-items: center;
  display: flex;
}

.user-login-box {
  position: relative;
  margin-top: 50px;
  text-align: center;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}
.user-login-box > * {
  display: inline-block;
  width: 200px;
}
.icon {
  position: relative;
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-icon {
  width: 100px;
  height: 100px;
  position: relative;
  border-radius: 50%;
  background-size: contain;
  background-image: url(../assets/icons/android-chrome-512x512.png);
}

.user-name {
  margin-top: 15px;
  margin-bottom: 15px;
  color: white;
  text-align: left;
}
.user-name h1 {
  margin-bottom: 10px;
}

input.username {
  width: 220px;
  height: 18px;
  opacity: 0.4;
  border-radius: 8px;
  padding: 5px 15px;
  border: 0;
  margin-bottom: 10px;
}
input.user-password {
  width: 220px;
  height: 18px;
  opacity: 0.4;
  border-radius: 8px;
  padding: 5px 15px;
  border: 0;
}
.submit-btn {
  width: 220px;
  margin-top: 20px;
  height: 25px;
  padding: 15px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 10px;
  background: linear-gradient(
    -45deg,
    #ac1dac77,
    /* #751844d5,
    #401472d8, */ #470f30dc
  );
}
.submit-btn a {
  color: white;
  text-decoration: none;
  font-size: 12px;
  width: 100%;
}
.signup-btn {
  width: 220px;
  margin-top: 4px;
  height: 25px;
  padding: 15px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 10px;
  background: linear-gradient(
    -45deg,
    #ac1dac77,
    /* #751844d5,
      #401472d8, */ #470f30dc
  );
}
.signup-btn a {
  color: white;
  text-decoration: none;
  font-size: 12px;
  width: 100%;
}

.sign-up {
  height: 50px;
  background-color: cadetblue;
}
